<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>home page</title>
<link rel="stylesheet" href="/css/home.css" />
</head>
<body>
	<div th:text="#{english.hello}">
		<h1>hello ..... this is admin page</h1>
	 </div>
	 <a th:href="@{/admin?lang=en}">english</a>||<a th:href="@{/admin?lang=AR}">العربية</a>
	<br>

	
</body>
</html>